.slider-wrapper{position:relative;margin-bottom:10px;}
.theme-default .nivoSlider{position:relative;background:url(images/nivo-loading.gif) no-repeat 50% 50%;}
.theme-default .nivoSlider img{position:absolute;top:0px;left:0px;display:none;}
.theme-default .nivoSlider a{border:0;display:block;}
.theme-default .nivo-controlNav{position:absolute;bottom:10px;right:10px;display:block;}
.theme-default .nivo-controlNav a{z-index:99;cursor:pointer;height:18px;width:18px;background:url(images/nivoNav-normal.png) no-repeat;float:left;margin-right:5px;line-height:18px;text-align:center;position:relative;color:#fff;font-weight:bold;}
.theme-default .nivo-controlNav a.active{background:url(images/nivoNav-active.png) no-repeat;color:#fff;}
.nivoSlider{position:relative;width:100%;height:auto;overflow:hidden;}
.nivoSlider img{position:absolute;top:0px;left:0px;}
.nivo-main-image{display:block !important;position:relative !important;width:100% !important;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:0.8;overflow:hidden;display:none;-moz-opacity:0.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;height:40px;width:40px;text-indent:-9999px;z-index:99;cursor:pointer;}
.nivo-prevNav{left:10px;background:url("images/pre_slideshow.png") no-repeat scroll 0 0 transparent;}
.nivo-prevNav:hover{background:url("images/pre_slideshowhover.png") no-repeat scroll 0 0 transparent;}
a.nivo-nextNav{background:url("images/next_slideshow.png") no-repeat scroll 0 0 transparent;right:10px;}
a.nivo-nextNav:hover{background:url("images/next_slideshowhover.png") no-repeat scroll 0 0 transparent;}
.nivo-controlNav{position:absolute;right:10px;bottom:10px;}
.nivo-controlNav a{z-index:99;cursor:pointer;height:18px;width:18px;background:url(images/nivoNav-normal.png) no-repeat;float:left;margin-right:5px;line-height:18px;text-align:center;position:relative;color:#fff;font-weight:bold;}
.nivo-controlNav a.active{background:url(images/nivoNav-active.png) no-repeat;color:#fff;}